<!-- search box -->
<div
  class="mt-5 input-group flex-nowrap"
  style="max-width: 50%; margin-right: auto; margin-left: auto;"
>
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping"
      ><i class="fa fa-search"></i
    ></span>
  </div>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="searchText"
    placeholder="Search Movies..."
    (keyup.enter)="search()"
    aria-describedby="addon-wrapping"
  />
</div>
<app-search-list [movieList]="movieResults"></app-search-list>

<ngx-spinner></ngx-spinner>
